body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Before */
h1::before {
  content: "👉 ";
}

/* after */
h1::after {
  content: " ✅";
}

/* first-letter */
p::first-letter {
  color: blue;
  font-size: 40px;
}

/* first-line */
p::first-line {
  color: green;
  font-weight: bold;
}


/* Selection */
p::selection {
  background-color: yellow;
  color: red;
}

/* Placeholder */
 input::placeholder {
      color: red;
    }