* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

/* Main Heading */
h2 {
    text-align: center;
    color: #3c74c9;
    margin-bottom: 20px;
}

h3 {
    color: #276a78;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Horizontal Line */
hr {
    margin: 20px;
    border: 1px solid #dbd0d0;
}

/* Image */
img {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

/* Paragraph */
p {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 15px;
}

/* Lists */
    ul,
    ol {
        margin-left: 40px;
        margin-bottom: 20px;
    }

li {
    margin: 8px 0;
}

/* Link */
a {
    color: #0676e6;
    font-weight: bold;
}
a:hover {
    color: #ff6600;
}

/* Video */
video{
     display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    height: 400px;
    border-radius: 10px;
}

/* Audio */
audio {
    display: block;
    margin: 20px auto;
}

.end{
    text-align: center;
}
    
    
    
    